<%= form_with(model: mood_post, local: true) do |form| %>
  <% if mood_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mood_post.errors.count, "error") %> prohibited this mood_post from being saved:</h2>

      <ul>
      <% mood_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :img_url %>
    <%= form.text_field :img_url %>
  </div>

  <div class="field">
    <%= form.label :emotion %>
    <%= form.text_field :emotion %>
  </div>

  <div class="field">
    <%= form.label :mood %>
    <%= form.text_field :mood %>
  </div>

  <div class="field">
    <%= form.label :journal %>
    <%= form.text_field :journal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
